.wrapper {
    width: 800px;
    margin:auto;
    border: 1px solid #00ff00;}

.padded {
    padding: 10px;
    border: 1px solid #D00000; 
    margin: 10px;}

#header {width: 758px;}

#content {width: 158px; float: right;}

#sidebar {width: 558px; float: left;}

#footbar {width: 758px; clear:both;}