h1 {
        font-family: 'Oswald';
        color: #707070 ;
        font-weight: 400;}
        
h2 {
        font-family:oswald; 
        color: #909090 ;
        font-weight: 400;}
            
.bio {
        font-family:oswald; 
        color:#A0A0A0;
        font-weight:300;
        margin:10px 240px 60px 240px;
        text-align: center;}
        
.projects {
        font-family:oswald; 
        font-weight:300;
        color:#A0A0A0;
        border: 1px solid black; 
        margin: 0px 300px 0px 300px;
        padding: 10px;}