html {
		
		font-family: 'aktiv_grotesk_triallight';
		
	}

body {
	width: 68%; 
	margin-left:14%;
	margin-right: 14%;
}

	


.top {
	width: 100%;
	top: 0;
	z-index: 99999;
	font-family: 'gt_walsheim_pro_trialmedium';
	padding-bottom: 0%;
	background-color: white;
	float: left;
	padding-left: 2%;
	color: black;
	
	
}

		@media (min-width: 768px) and (max-width: 1400px) {
			img.navbutton {
			 display: none; 
			}

			img.searchbutton {
				display: none; 
			}
		}

h1 {
	font-size: 280%;
	line-height: 45%;
	marin-bottom: 2%;

}

/*
a.firstlink {
			text-decoration:none;
			color:none;
		}

*/

a.firstlink {
			text-decoration:none;
		}

.second {
	font-size: 30%;
	font-family: 'aktiv_grotesk_triallight';
}

/*________________________________________nav___________*/

.nav {
	width:100%;

}

nav {
	background-color: #f2e833;
	width: 100%;
	height: 4%;
	float: left;
	z-index: 0;
}

.subscribe {
	width: 9%;
	height: 15%;
	float:right;
	padding-top: .8%;
	padding-right: 2%;
	padding-left: 1%;
	
}

.facebook , .twitter , .instagram {
	width: 2.7%;
	padding: .5%;
	padding-top:.8%;
	height: 6%;
	float:right;
	
}


.news , .recipes ,  .events , .favorites { 	
		float: left;
		width: 10.1%;
		height: 10%;
	}

.divider {
	float: left; 
	width: 3%;
	height: 4%;
	}

.home{ 
	float: left;
	width: 5%;
	height: 10%;
	}

 .search { 
	float: left;
	width: 5.3%;
	height: 10%;
	}

.clear {
	clear: both;
}


/*_______________________________________end_nav___________*/

/*________________________________________main article__________*/

article {
	width: 100%;
	margin-top:9%;
}
	
.brunch {
	width:100%;
	position: relative;

}

li {
	display: inline;
}


h1.articleheader {
		font-family: 'gt_walsheim_pro_trial_regulRg';
		font-size: 200%;
		border-bottom: 5px solid #000000;
		border-bottom-width: 10%;
		width: 61%;
		line-height: 120%;
	
}

.date {
	font-family: 'gt_walsheim_pro_trial_regulRg';
	font-size: 55%;
	color: #f2e833;
	padding-bottom: 0;
	float: left;
	padding-top: 2%;
	

}
	
.bodyleft {
	width:49%;
	float: left;
	font-size: 90%;
}

.bodyright {
	width:49%;
	float: right;
	font-size: 90%;
}

/*________________________________________end main article__________*/

/*________________________________________author and call to action__________*/

.myface {
	width:7%;
	top:3%;
}
.author {
vertical-align: middle;
}


.calltoaction {
	float:left;
	display:inline-block;
	
}


.facebook2 , .twitter2 , .instagram2 {
	width: 3.1%;
	padding: 1%;
	right: 4%;
	
}

.subscribe2 {
	width: 15%;
	display: inline;
	
	
}

/*________________________________________end author and call to action__________*/

/*_______________________________________related posts __________*/

div.relatedposts {
	font-family: 'gt_walsheim_pro_trial_regulRg';
	font-size: 80%;
	line-height: 180%;
	font-family: 'gt_walsheim_pro_trial_regulRg';
	font-size: 140%;
	float: left;
	padding-top: 2%;
	width:100%;
	overflow: hidden;
	
}

h3{
	border-bottom: 5px solid #000000;
	width: 40%;
}


.relatedimages {
	width: 19%;
	height: 10%;
	float:left;
	padding-right: 1%;
	display: inline-block;
	opacity: 0.7 ; filter: alpha(opacity=100);
	
	
}


.relatedimages:hover{
	opacity: 1;
	filter: alpha(opacity=30);
}


/*_______________________________________related posts  end __________*/



footer {
	float: left;
	width: 100%;
	margin-top: 5%;
	margin-bottom:5%;
	
}



.aboutheader { 
	font-family: 'gt_walsheim_pro_trialmedium';
	color: #f2e833;
	font-size:220%;

	
}

.about {
	width: 26%; 
	background-color: #000000;
	float: left;
	margin-right: 1.5%;
	color: white;
	padding: 2%;
	font-size: 70%;
	line-height: 205.9%;
	
	
}

.aboutlinks {
	color: #f2e833;
	font-size:110%;
	padding-right: 10%;
	
}


.newsletter {
	width: 38%;
	color: #ffffff;
	float: left;
	background-color: #000000;
	margin-right: 1.5%;
	padding: 2%;
	font-size: 70%;
}

.newsletterheader {
	font-family: 'gt_walsheim_pro_trialmedium';
	color: #f2e833;
	font-size:200%;
	
}



.newsletterform {
	border: 1px solid white; 
	width: 65%; 
	padding: 1%;
	float:left;
	
	
}

.submit {
	font-family: 'gt_walsheim_pro_trialmedium';
	color: #f2e833;
	font-size:132%;
	background-color: transparent;
	display:inline;
	float: left;
	padding: 2%;
	text-align: center;
	margin-left: 3%;
	
	
}
	


.social {
	width:21%;
	color: #ffffff;
	float: left;
	background-color: #f2e833;
	padding: 2%;
	color: #000000;
	font-size:82%;
	
}

.title {
	font-size: 165%;
	font-family: 'gt_walsheim_pro_trialmedium';
}

.facebook3 , .twitter3 , .instagram3 {
	width: 20%;
	padding-right:9%; 
	margin-top: 10%;
	
}


/******************************************************************************************************************************************************************/

@media( max-width:768px) {

	
	body {
		width: 96%;
		margin-left: 2%;
		margin-right: 2%;
		padding: 0;
		
	}
	
	html {
		width: 100%;
		left: 0;
		font-family: 'aktiv_grotesk_triallight';
		
	}
		
	.clear {
		dispaly:none;
	}
	
	
	
	.navbutton {
		width: 7%;
		height: 7%;
		z-index: 9999999;
		float:left;
		margin-top: 3%;
		margin-left: 3%;
		margin-right: 0;
	}
	
	.searchbutton {
		width: 9%;
		height: 7%;
		z-index: 9999999;
		float:right;
		margin-top: 3%;
		margin-right: 6%;
		margin-left: 0;
	}
		
	
	h1.vitamin {
	font-size: 230%;
	float:left;
	margin-left: 25%;

	
		
	
	}
		
	.top {
		
		background-color: black;
		color: white;
		text-align: center;
		margin:0%;
		margin-left:0%;
		position:fixed;
		left:0; 
		width:100%; 
	
		
	}
		
	.nav {
		display: none;
	}
		
/*	______________________________________*/
	
	article {
		width: 100%;
		margin: 0%;
		padding: 0%;
		position: relative;
		
	}
	
	.brunch {
		width: 100%;
		float:left;
		margin-top: 20%;

		
	}

	h1.articleheader {
		font-family: 'gt_walsheim_pro_trial_regulRg';
		font-size: 200%;
		border-bottom: 3px solid #000000;
		width: 90%;
		line-height: 110%;
		margin-top: 85%;
		margin-left: 3%;
		
		
	
	}
	
	

	.date {
		font-family: 'gt_walsheim_pro_trial_regulRg';
		font-size: 60%;
		color: #f2e833;
		padding-bottom: 0;
		float: left;
		padding-top: 2%;
		
	}
	
	.bodyleft ,	.bodyright  {
		width:90%;
		font-size: 90%;
		float:left;
		font-family: 'aktiv_grotesk_triallight';
		padding-left: 5%;
		
		}

	
/*	______________________________________*/
	
	.myface {
		width:15%;
		top:3%;
		margin-left: 3%;
		margin-top: 7%;
		}
	
	.author {

		font-family: 'aktiv_grotesk_triallight';
		}


	.calltoaction {
		float:left;
		display:inline-block;
		margin-top: 4%;
		margin-left: 20%;
		margin-right: 20%;
		width: 60%;
		margin-bottom: 10%;

	}
	
	.facebook2, .twitter2 , .instagram2 {
		width: 20%;
	}
		
	.facebook2{
		padding-right: 16%;
		
	}
	
	.twitter2 { 
		padding-left: 16%;
	}
	
	.subscribe2 {
		width: 65%;
		margin-left: 17%;
		margin-right: 17%;
		margin-bottom: 20%;
		margin-top:15%;
	
	}

/*	______________________________________*/	
	
	div.relatedposts {
		font-family: 'gt_walsheim_pro_trial_regulRg';
		line-height: 170%;
		font-size: 140%;
		float: left;
		padding-top: 2%;
		width:100%;
		margin-bottom: 10%;
		margin-left: 0;
		margin-right: 0;

		
	}
		
	h3 {
		border-bottom: 3px solid #000000;
		width: 57%;
		left: 0;
		margin-left: 2%;
		
		
		
	}
		

	.relatedimages  {
		width: 48%;
		height: 48 s%;
		float:left;
		display:inline-block;
		padding: 1%;
		opacity: 1 ; 
		}
	
	.salmon {
		display:none;
	}
	
/*	______________________________________*/		
	
	
	
footer {

	float: left;
	margin-top: 5%;
	margin-left: 0;
	margin-right:0;
	left:0;
	
	
}

.about {
	width: 68%; 
	background-color: #000000;
	float: left;
	display:block;
	margin-left: 11%;
	margin-right:11%;
	margin-bottom: 10%;
	color: white;
	font-size: 80%;
	line-height: 205.9%;
	padding: 4%;

	
	
}

.aboutheader { 
	font-family: 'gt_walsheim_pro_trialmedium';
	color: #f2e833;
	font-size:180%;
	
}



.aboutlinks {
	color: #f2e833;
	font-size:110%;
	
	
}


.newsletter {
	width: 68%;
	color: #ffffff;
	float: left;
	background-color: #000000;
	font-size: 70%;
	margin-left: 11%;
	margin-right:11%;
	margin-bottom: 10%;
	padding: 4%;
	line-height: 245%;
}

.newsletterheader {
	font-family: 'gt_walsheim_pro_trialmedium';
	color: #f2e833;
	font-size:200%;

	
}



.newsletterform {
	border: 1px solid white; 
	width: 98%; 
	padding: 1%;
	display: block;
	float:left;
	margin-bottom: 7%;
	
	
}

.submit {
	font-family: 'gt_walsheim_pro_trialmedium';
	color: #f2e833;
	font-size:132%;
	background-color: transparent;
	display:block;
	float: left;
	text-align: center;
	margin-left: 40%;
	margin-right: 40%:

	
	
	
}


.social {
	width:68%;
	color: #ffffff;
	float: left;
	background-color: #f2e833;
	color: #000000;
	font-size:100%;
	font-family: 'aktiv_grotesk_triallight';
	margin-left: 11%;
	margin-right:11%;
	margin-bottom: 10%;
	text-align: left;
	top:0;
	padding: 4%;
	
	
}
	
.title {
	
	font-family: 'gt_walsheim_pro_trialmedium';
	font-size:150%;
	margin-right: 80%;
	margin-top:2%;
	line-height: 10%;
	
	
}
	.delete {
		display: none;
	}
	

.facebook3 , .twitter3 , .instagram3 {
	width: 10%;
	display: inline-block;
	padding-left: 13%;

	
}
	
.social br
	{display: none;}
	
	
}

	



/******************************************************************************************************************************************************************/

	
@media(max-width:480px) {
	
	h1.vitamin {
		font-size: 200%;
		float:left;
		margin-left: 20%;
	}
	
	.brunch {
		width: 100%;
		float:left;
		margin-top: 25%;

		
	}

	h1.articleheader {
		font-family: 'gt_walsheim_pro_trial_regulRg';
		font-size: 133%;
		border-bottom: 3px solid #000000;
		width: 92%;
		line-height: 110%;
		margin-top: 92%;


	}
	
	.navbutton {
		width: 7%;
		height: 7%;
		z-index: 9999999;
		float:left;
		margin-top: 7%;
		margin-left: 4%;
		margin-right: 0;
	}
	
	.searchbutton {
		width: 9%;
		height: 7%;
		z-index: 9999999;
		float:right;
		margin-top: 6%;
		margin-right: 7%;
		margin-left: 0;
	}
	
	div.relatedposts {
		font-family: 'gt_walsheim_pro_trial_regulRg';
		line-height: 170%;
		float: left;
		padding-top: 2%;
		width:100%;
		margin-bottom: 10%;
		margin-left: 0;
		margin-right: 0;

		
	}
	
	
		
	h3 {
		border-bottom: 3px solid #000000;
		width: 86%;
		left: 0;
		margin-left: 2%;
		font-size: 110%;
		
	}
	

		
	
}