html {
		
		font-family: 'aktiv_grotesk_triallight';
		
	}

body {
	width: 68%; 
	margin-left:14%;
	margin-right: 14%;
}

.top {
	width: 100%;
	top: 0;
	z-index: 99999;
	font-family: 'gt_walsheim_pro_trialmedium';
	padding-bottom: 0%;
	background-color: white;
	float: left;
	padding-left: 2%;
	color: black;
	
	
}

		@media (min-width: 769px) and (max-width: 2000px) {
			img.navbutton {
			 display: none; 
			}

			img.searchbutton {
				display: none; 
			}
		}

h1.vitamin {
	font-size: 280%;
	line-height: 45%;
	margin-bottom: 3.5%;
	

}


span.second {
	font-size: 30%;
	font-family: 'aktiv_grotesk_triallight';
}

/*________________________________________nav___________*/

.nav {
	width:100%;
	
}

nav {
	width:100%;
	background-color: #f2e833;
	width: 100%;
	height: 4%;
	float: left;
	z-index: 0;
	
}

.subscribe {
	width: 9%;
	height: 15%;
	float:right;
	padding-top: .8%;
	padding-right: 2%;
	padding-left: 1%;
	
}

.facebook , .twitter , .instagram {
	width: 2.7%;
	padding: .5%;
	padding-top:.8%;
	height: 6%;
	float:right;
	
}


.news , .recipes ,  .events , .favorites { 	
		float: left;
		width: 10.1%;
		height: 10%;
	}

.divider {
	float: left; 
	width: 3%;
	height: 4%;
	}

.home{ 
	float: left;
	width: 5%;
	height: 10%;
	}

 .search { 
	float: left;
	width: 5.3%;
	height: 10%;
	}

.clear {
	clear: both;
}

li {
	display: inline;
}



/*_______________________________________end_nav___________*/



/*______________________________________first section__________*/

div.firstsection {
	width: 100%;
	float: left;
	padding:0%;
	margin-top: 3%;
	
}

	section.firsttext {
		float:left;
		bottom:0;
		width: 45%;
		display:block;


	}

		h1.firstarticle {
			margin-top: 28%;
			font-size: 300%;
			font-family: 'gt_walsheim_pro_trialmedium';
			color: black;
			line-height: 130%;
			border-bottom: 4px solid #000000;
			bottom: 0;
			
		}

		.mediadata {
		display:none;
			
	}
		
		a.firstlink {
			text-decoration:none;
		}

	section.firstimage {
		width: 45%;
		display: block;
		float: right;
		bottom:0;
	}

	img.firstpicture {
		width: 100%; 
		margin:0;
		float:right; 
		margin-top: 3%;
	}

	img.mobilefirstpicture {
		display: none;
	}

	



	

/*______________________________________first section_ end_________*/


/*_______________________________________second section__________*/

div.secondsection {
	width: 100%;
	float: left;
	padding:0%;
	margin-top:5%;
	overflow:hidden;
}

	img.secondpicture {
		width: 48%; 
		margin:0;
		float: left; 
		
		display: inline-block;
		
	}

	section.secondtext {
		width:48%;
		float:right;
		font-family: 'aktiv_grotesk_triallight';
		font-size: 100%;
		line-height: 100%;
		border-bottom: 4px solid #000000;
		
	}

		h2.secondarticle {
			font-size: 233%;
			font-family: 'gt_walsheim_pro_trial_regulRg';
			color: black;
			float:left;
			margin-top: 25%;
			
		}


		p.secondbodytext {
			font-family: 'aktiv_grotesk_triallight';
			font-size: 90%;
			line-height: 130%;
			text-align: left;
			margin-top: 35%;
		

		}
			

/*_______________________________________second section____ end______*/

/*________________________third section__start ______________*/

div.thirdsection {
	width: 100%;
	float: left;
	padding:0%;
	margin-top:5%;
	overflow:hidden;
}

	img.thirdpicture {
		width: 48%; 
		margin:0;
		float: right; 
		margin-top: 3%;
		display: inline-block;
		
	}

	section.thirdtext {
		width:48%;
		float:left;
		font-family: 'aktiv_grotesk_triallight';
		font-size: 100%;
		line-height: 100%;
		border-bottom: 4px solid #000000;
		

	}


		h2.thirdarticle {
			font-size: 233%;
			font-family: 'gt_walsheim_pro_trial_regulRg';
			color: black;
			float:right;
			margin-top: 33%;
			
		}

		p.thirdbodytext {
			font-family: 'aktiv_grotesk_triallight';
			font-size: 90%;
			line-height: 130%;
			text-align: right;
			margin-top: 42%;
		

		}
			
/*________________________third section__start ______________*/


/*_______________________________________fourth section __________*/

div.fourthsection {
	width: 100%;
	float: left;
	padding:0%;
	overflow:hidden;
	margin-top: 5%;

}

	section.fourthtext {

		line-height: 110%;
		

	}

		h2.fourtharticle {
			float:left;
			font-family: 'gt_walsheim_pro_trial_regulRg';
			font-size: 207%;
			display: block;
			
			line-height: 50%;
		}


		h3.fourtharticlecaption {
			float:left;
			font-family: 'aktiv_grotesk_triallight';
			font-size: 95%;
			display:block;
			border-bottom: 4px solid #000000;

		}


	section.fourthimages {

		width:100%;
		display:inline-block;
		padding-bottom: 2.5%;
		border-bottom: 4px solid #000000;
		
	}

		.fourthleft , .fourthmiddle , .fourthright {
			display:inline-block;
			float:left;
			width:32.6%;
		}


		.fourthmiddle {
			padding-left:1%;
			padding-right:1%;			
		}

/*_______________________________________fourth section __end ________*/

/*_______________________________________footer_____start_____*/


footer {
	float: left;
	width: 100%; 
	margin-left:0;
	margin-right: 0;
	font-size: 72%;
	
}



		div.about {
			width: 26%; 
			background-color: #000000;
			float: left;
			margin-right: 1.5%;
			color: white;
			padding: 1.9%;
			line-height: 200%;
			display:block;


		}

			.aboutheader { 
				font-family: 'gt_walsheim_pro_trialmedium';
				color: #f2e833;
				font-size:155%;


			}


			.aboutlinks {
				color: #f2e833;
				font-size:110%;
				padding-right: 10%;

			}


		.newsletter {
			width: 38%;
			color: #ffffff;
			float: left;
			background-color: #000000;
			margin-right: 1.5%;
			padding: 2%;
			display: block;
		}

			.newsletterheader {
				font-family: 'gt_walsheim_pro_trialmedium';
				color: #f2e833;
				font-size:155%;

			}



			.newsletterform {
				border: 1px solid white; 
				width: 65%; 
				padding: 1%;
				float:left;


			}

			.submit {
				font-family: 'gt_walsheim_pro_trialmedium';
				color: #f2e833;
				font-size:132%;
				background-color: transparent;
				display:inline;
				float: left;
				padding: 2%;
				text-align: center;
				margin-left: 3%;


			}



		.social {
			width:21%;
			color: #ffffff;
			float: left;
			background-color: #f2e833;
			padding: 2%;
			color: #000000;
			display: block;

		}

			.title {
				font-size: 155%;
				font-family: 'gt_walsheim_pro_trialmedium';
			}

			.facebook3 , .twitter3 , .instagram3 {
				width: 20%;
				padding-right:9%; 
				margin-top: 12.1%;

			}

/*_______________________________________footer_____start_____*/


/************************media query ipad ****
***************************************
*********************************************************************/

@media (max-width:768px) {

	body {
		width: 96%;
		margin-left: 2%;
		margin-right: 2%;
		padding: 0;
		font-family: 'aktiv_grotesk_triallight';
		
	}
		
		.clear {
			display:none;
		}

		.top {

			background-color: black;
			color: white;
			text-align: center;
			margin:0%;
			margin-left:0%;
			position:fixed;
			left:0; 
			width:100%; 
			padding-top:1.5%;
			padding-bottom:1%;
		}

			div.navbutton {
				width: 18%; 
				float:left;
				display:inline-block;
				padding-left: 3%;
			}

				img.navbutton {
					width: 20%; 
					float:left;
					margin-top:18%;
				}
	
				
				.nav {
					display: none;
				}

	
			div.vitaminheader {
				width:50%; 
				float:left;
				display:inline-block;
			
			}

				h1.vitamin {
				font-size: 230%;
				text-align:center;
				line-height: 56%;
				padding-left:14%;
				}


			div.searchbutton {
				width: 23%; 
				float:right;
				display: inline-block;
				
			}


				.searchbutton {
					width: 20%;
					float:right;
					padding-right: 5%;
					margin-top:2.5%;
				}


/*	_________first section start_____________________________/*/
	
	div.firstsection {
	width: 100%;
	float: left;
	padding:0%;
	margin-top: 10%;
	
}


	img.mobilefirstpicture {
		display:block;
		width:100%;
		margin-top: 6%;

	}
	
	
	img.firstpicture {
		display:none;
		
	}


	section.firsttext {
		float:left;
		bottom:0;
		margin-left:auto;
		margin-right: auto;
		display:block;
		width:100%;


	}

		h1.firstarticle {
			margin-top: 3%;
			font-size: 205%;
			font-family: 'gt_walsheim_pro_trialmedium';
			color: black;
			line-height: 130%;
			border-bottom: 5px solid #000000;
			bottom: 0;
			float: left;
			margin-right:25%;
			
		}
		
	
		.mediadata {
			display: block;
			font-family: 'gt_walsheim_pro_trialmedium';
			font-size: 140%;
			float: left;
			color: #f2e833;
			margin-top:-2%;
		}
	
		h1.firstarticle br{display:none;}
	
		
		a.firstlink {
			text-decoration:none;
		}

/*	______second section_____________________*/
	
	div.secondsection {
	width: 100%;
	float: left;
	padding:0%;
	margin-top:8%;
	overflow:hidden;
		
}

	img.secondpicture {
	
		width:85%;
		float:left;
		margin-right: 25%;
		
	}
	


	section.secondtext {
		width:96%;
		float:left;
		font-family: 'aktiv_grotesk_triallight';
		font-size: 100%;
		line-height: 110%;
		border-bottom: none;
		display:block;
		margin-left: 2%;
		margin-right: 2%;
		border-bottom: 2px solid #000000;
		
	}

		h2.secondarticle {
			font-size: 200%;
			font-family: 'gt_walsheim_pro_trial_regulRg';
			color: black;
			float:right;
			margin-top: 7%;
			border-bottom: 4px solid  #f2e833;
			line-height: 100%;
			margin-bottom: 0;
			
		}
	

		p.secondbodytext {
			font-family: 'aktiv_grotesk_triallight';
			font-size: 90%;
			line-height: 160%;
			text-align: right;
			margin-top: 12%;
		

		}
	
/*	_________third section __________________*/
	
div.thirdsection {
	width: 100%;
	float: left;
	padding:0%;
	margin-top:4%;
	overflow:hidden;
}

	img.thirdpicture {
		width: 85%; 
		margin:0;
		float: right; 
		margin-top: 2%;
		display: inline-block;
		
	}

	section.thirdtext {
		width:96%;
		float:left;
		font-family: 'aktiv_grotesk_triallight';
		font-size: 100%;
		line-height: 100%;
		border-bottom: 2px solid #000000;
		text-align: left;
		margin-left: 2%;
		margin-right: 2%;
		

	}


		h2.thirdarticle {
			font-size: 200%;
			font-family: 'gt_walsheim_pro_trial_regulRg';
			color: black;
			float:left;
			margin-top: 7.5%;
			margin-bottom: 0;
			border-bottom: 4px solid  #f2e833;
			line-height: 100%;
			display: inline-block;
			
		}

		p.thirdbodytext {
			font-family: 'aktiv_grotesk_triallight';
			font-size: 90%;
			line-height: 160%;
			text-align: left;
			margin-top: 2%;
			display: inline-block;
		

		}

	
/*	____fourth section_______________________*/

div.fourthsection {
	width: 100%;
	float: left;
	padding:0%;
	overflow:hidden;
	margin-top: 5%;

}

	section.fourthtext {

		line-height: 110%;
		width:96%;
		margin-right: 2%;
		margin-left: 2%;
	

	}

		h2.fourtharticle {
			float:left;
			font-family: 'gt_walsheim_pro_trial_regulRg';
			font-size: 207%;
			display: block;
			
			line-height: 50%;
		}


		h3.fourtharticlecaption {
			float:left;
			font-family: 'aktiv_grotesk_triallight';
			font-size: 95%;
			display:block;
			border-bottom: 4px solid #f2e833;

		}


	section.fourthimages {

		width:100%;
		display:inline-block;
		padding-bottom: 2.5%;
		border-bottom: 2px solid #000000;
		
	}

		.fourthleft , .fourthmiddle , .fourthright {
			display:inline-block;
			float:left;
			width:60%;
			margin-left: 20%;
			margin-right: 20%;
			margin-bottom:5%;
		}


		.fourthmiddle {
			padding-left:0%;
			padding-right:0%;			
		}	
	
	
/*	______________________________________*/
	
	
footer {

	float: left;
	width:100%; 
	margin-left:0%;
	margin-right: 0%;
	font-size: 80%;
}
	
	


	div.about {
		width: 92%; 
		background-color: #000000;
		float: left;
		display:block;
		margin-left: 0%;
		margin-right:0%;
		margin-bottom: 0%;
		color: white;
		line-height: 245.9%;
		padding: 4%;
		border-bottom: 2px solid #f2e833;
		}

		.aboutheader { 
			font-family: 'gt_walsheim_pro_trialmedium';
			color: #f2e833;
			font-size:180%;
		}


		.aboutlinks {
			color: #f2e833;
			font-size:110%;
			padding-right:15%;
			text-align: center;
		}


	div.newsletter {
		width: 92%;
		color: #ffffff;
		float: left;
		background-color: #000000;
		margin-left: 0%;
		margin-right:0%;
		margin-bottom: 0%;
		padding: 4%;
		line-height: 250%;
		font-size: 80%;
	}

		.newsletterheader {
			font-family: 'gt_walsheim_pro_trialmedium';
			color: #f2e833;
			font-size:200%;
		}

		.newsletterform {
			border: 1px solid white; 
			width: 98%; 
			padding: 1%;
			display: block;
			float:left;
			margin-bottom: 7%;
		}

		.submit {
			font-family: 'gt_walsheim_pro_trialmedium';
			color: #f2e833;
			font-size:132%;
			background-color: transparent;
			display:block;
			float: left;
			text-align: center;
			margin-left: 45%;
			margin-right: 45%;
		}


	.social {
		width:92%;
		color: #ffffff;
		float: left;
		background-color: #f2e833;
		color: #000000;
		font-family: 'aktiv_grotesk_triallight';
		margin-left: 0%;
		margin-right:0%;
		margin-bottom: 0%;
		text-align: left;
		top:0;
		padding: 4%;
	}

		.title {
			font-family: 'gt_walsheim_pro_trialmedium';
			font-size:200%;
			margin-right: 80%;
			margin-top:2%;
			line-height: 10%;
			border-bottom: 2px solid #000000;
		}
	

		.facebook3 , .twitter3 , .instagram3 {
			width: 6%;
			display: inline-block;
			margin-top:3%;
			padding-right: 20%;
		}

			span.delete {
				margin-bottom: 0;
			}


}

	
/******************************************************************************************************************************************************************/

/* ipad portrait*/

@media(max-width:1024px) and (min-width: 769px) {
	
	
footer {
	float: left;
	width: 100%; 
	margin-left:0;
	margin-right: 0;
	font-size: 60%;
	
}



		div.about {
			width: 26%; 
			background-color: #000000;
			float: left;
			margin-right: 1.5%;
			color: white;
			padding: 1.8%;
			line-height: 198%;
			display:block;


		}

			.aboutheader { 
				font-family: 'gt_walsheim_pro_trialmedium';
				color: #f2e833;
				font-size:155%;


			}


			.aboutlinks {
				color: #f2e833;
				font-size:110%;
				padding-right: 10%;

			}


		.newsletter {
			width: 38%;
			color: #ffffff;
			float: left;
			background-color: #000000;
			margin-right: 1.5%;
			padding: 2%;
			display: block;
		}

			.newsletterheader {
				font-family: 'gt_walsheim_pro_trialmedium';
				color: #f2e833;
				font-size:155%;

			}



			.newsletterform {
				border: 1px solid white; 
				width: 65%; 
				padding: 1%;
				float:left;


			}

			.submit {
				font-family: 'gt_walsheim_pro_trialmedium';
				color: #f2e833;
				font-size:132%;
				background-color: transparent;
				display:inline;
				float: left;
				padding: 2%;
				text-align: center;
				margin-left: 3%;


			}



		.social {
			width:21%;
			color: #ffffff;
			float: left;
			background-color: #f2e833;
			padding: 2%;
			color: #000000;
			display: block;

		}

			.title {
				font-size: 155%;
				font-family: 'gt_walsheim_pro_trialmedium';
			}

			.facebook3 , .twitter3 , .instagram3 {
				width: 20%;
				padding-right:9%; 
				margin-top: 12.1%;

			}
	
	
	
/*******first section************************************************/
	
	img.firstpicture {
		width: 115%; 
		margin:0;
		float:right; 
		margin-top: 3%;
	}
	
	
/*******second section************************************************/	
	
	h2.secondarticle {
			font-size: 233%;
			font-family: 'gt_walsheim_pro_trial_regulRg';
			color: black;
			float:left;
			margin-top: 22%;
			
		}


		p.secondbodytext {
			font-family: 'aktiv_grotesk_triallight';
			font-size: 72%;
			line-height: 130%;
			text-align: left;
			margin-top: 35.5%;
		

		}
	
	

/*******THIRD section************************************************/		
	
	h2.thirdarticle {
			font-size: 233%;
			font-family: 'gt_walsheim_pro_trial_regulRg';
			color: black;
			float:right;
			margin-top: 35%;
			
		}

		p.thirdbodytext {
			font-family: 'aktiv_grotesk_triallight';
			font-size: 72%;
			line-height: 130%;
			text-align: right;
			margin-top: 45%;
		

		}
	
	
	
	
	
}
	

/******************************************************************************************************************************************************************/

/*mobile*/
	
@media(max-width:414px) {

	.top {
		padding-top:2.5%;
		padding-bottom:2%;
	}


	div.navbutton {
		width: 13%; 
		height: 7%;
		z-index: 9999999;
		float:left;
		display: inline-block;
		padding-left: 4%;

	}
	
	img.navbutton {
		width: 41%; 
		float:left;
		margin-top:10%;
	}
		

	div.vitaminheader {
			width:44%; 
			float:left;
			display:inline-block;
		}

		h1.vitamin {
			font-size: 118%;
			margin-left: 23%;
			margin-right: -22%;
			line-height: 84%;
		}

		span.second {
			display:none;
		}

	/*
	**************end of header *************************************************************/	



	div.searchbutton {
		width: 13%; 
		height: 7%;
		z-index: 9999999;
		float:right;
		display: inline-block;
		padding-right: 4%;
	}


		img.searchbutton {
			width: 51%;
			float:right;
			margin-top: -15%;
			margin-right:11%;
		}


	/*	***********************************section one********************/

		section.firsttext {
			width: 100%;
		}


		img.mobilefirstpicture {
			display:block;
			width:100%;
			margin-top: 3.5%;

		}

		.brunch {
			width: 100%;
			float:left;
			margin-top: 28%;


		}

		h1.firstarticle {
			font-family: 'gt_walsheim_pro_trialmedium';
			font-size: 128%;
			border-bottom: 2px solid #000000;
			width: 96%;
			line-height: 110%;
			margin-top: 4%;

		}

		.mediadata {
			font-size: 94%;
		}

	/*****************************section two******************	*/

	h2.secondarticle {
	  font-size: 152%;
	}

	p.secondbodytext {
	  font-family: 'aktiv_grotesk_triallight';
	  font-size: 60%;
	  line-height: 160%;
	  text-align: right;
	  margin-top: 14%;
	}

	/*****************************section three******************	*/	
	h2.thirdarticle {
	  font-size: 152%;
	}

	p.thirdbodytext {
	  font-family: 'aktiv_grotesk_triallight';
	  font-size: 72%;
	  line-height: 160%;
	  text-align: left;
	  margin-top: 4%;
	  display: inline-block;
	}

	/*****************************section four******************	*/		

	h2.fourtharticle {
		margin-bottom:0%;
		font-size:144%;
	}

	h3.fourtharticlecaption {
		margin-top: 1%;
	}

	/*___________________________start of footer ___________________________________________*/
		div.about {
			width: 92%; 
			background-color: #000000;
			float: left;
			display:block;
			margin-left: 0%;
			margin-right:0%;
			margin-bottom: 0%;
			color: white;
			line-height: 245.9%;
			padding: 4%;
			border-bottom: 2px solid #f2e833;
			}

			.aboutheader { 
				font-family: 'gt_walsheim_pro_trialmedium';
				color: #f2e833;
				font-size:180%;
			}


			.aboutlinks {
				color: #f2e833;
				font-size:110%;
				padding-right:15%;
				text-align: center;
			}





		.social {
			width:92%;
			color: #ffffff;
			float: left;
			background-color: #f2e833;
			color: #000000;
			font-family: 'aktiv_grotesk_triallight';
			margin-left: 0%;
			margin-right:0%;
			margin-bottom: 0s%;
			text-align: left;
			top:0;
			padding: 4%;
			line-height: 220%;
		}

			.title {
				font-family: 'gt_walsheim_pro_trialmedium';
				font-size:180%;
				margin-right: 80%;
				margin-top:2%;
				line-height: 10%;
				border-bottom: 2px solid #000000;
			}


			.facebook3 , .twitter3 , .instagram3 {
				width: 6%;
				display: inline-block;
				margin-top:3%;
				padding-right: 20%;
			}

				span.delete {
					margin-bottom: 0;
				}

		/*___________________________end of footer ___________________________________________*/


}


		
	
