body {
    max-width: 1272px;
    width: 100%;
    max-height: 2000px; 
    height: 100% 
    border: 2px solid black;
    float: center;
    padding: 4px;
    margin: auto;
   
    
}

.first {
    
    width: 89%;
    height: 50%;
    font-family: 'Montserrat', sans-serif;
    color:#b3d6e2; 
    font-size: 60px;
    background-image: url(svg/opacity.png);
    background-repeat:no-repeat;
    background-size: 100% 99%;
    overflow: auto;
    padding:6%;
    padding-top:2%;
    
  
}

.appname {
    color:#f6cc1f;
    font-size:80px;
    
}

.google {
    float:left;
    width: 28%;
    height: 10%;
    padding-bottom: 2px;
    padding-right: 50px;
}

.apple {
    float:left;
    width: 32%;
    height: 12%;
    padding-bottom: 20px;
}


.lightoff {
    width:20%;
    height:10%;
    float: right;
    margin-top:7%;
    margin-right:4%;
}

.third { 
    width: 88%;
    height: 70%;
    overflow: auto;
    margin:auto;
    padding-left:5%;
    padding-right:5%;
    padding-top: 0%;
    font-family: 'Montserrat', sans-serif;
    color:#192f3d; 
    font-size:40px;
    text-align: center;
}

.thirdleft, .thirdmiddle, .thirdright {
    width: 29%;
    height: 70%;
    padding: 2%;
    float: left;
    line-height:70%;
}

.firsttext, .secondtext, .thirdtext {
    font-family:'Montserrat', sans-serif;
    font-size:20PX;
    color:#b3d6e2;
    line-height: 35%;
}

.shoot,  .plug {
    width:55%;
    height: 55%;
    margin:auto;
    padding-left:8%;
    padding-right:8%;
  
}

.idea {
    width: 55%;
    height: 57%;
}
        

.third { 
    width: 82%;
    height: 54%;
    padding: 7%;
    padding-top: 2%;
    padding-bottom: 8%;
    overflow: auto;
    margin: auto;
    

}

.light {
    width: 33%;
    height: 30%;
    padding-bottom:6%;
    
    
}

.second { 
    width: 94%;
    height: 30%;
    padding: 2%;
}
    

.secondright {
    width:45%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    color:#24455a; 
    font-size:17px;
    text-align: center;
    padding-top: 3%;
    float: right;
    padding: 4%;
    
}



.home, .camera  , .zoom , .search {
    width:20%; 
    height: 33%;
    padding-right:4px%;
    padding-left: 3%;
    
    
  
}
hr {
  display: block;
    border-style: inset;
    border-width: 1px;
    no shade;
    width: 90%;
    align: center;
    margin-top: 35%;
    margin-bottom: 0%;
}

.fourth {
    width: 89%;
    height: 30%;
    padding: 2%;
    font-family: 'Montserrat', sans-serif;
    color:#24455a;
    text-align: center; 
    padding-bottom: 1%;
    line-spacing: 10%;
    
}

.light2 {
    width: 20%;
    height: 30%;
    padding:-3%;
    
}

.google2 {
   
    width: 17%;
    height: 10%;
    padding-bottom: 19px;
    padding-right: 12px;
}

.apple2 {
  
    width: 19%;
    height: 12%;
    padding-bottom: 20px;
}

